.circle-icon-errors-list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d8a09e;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.circle-icon-errors-list .icon {
    margin: 0;
}